<!DOCTYPE html>
<html style="background-color: #000000">
<head>
	<title>Tesla | About</title>
</head>
<body>
    <h1 style="margin-left: 35%; align:center; background-color:red; width:30%; color:white; text-align: center; font-size:50px;font-family:arial">Tesla</h1>
    <h2 style="text-align: center;font-weight: bold;color:white;font-family:arial">Tesla Mission</h2>
    <p style="margin-left: 10%; margin-right: 10%;text-align: justify;font-size:20px;color:white;font-family:arial">Musk led the Series A round of investment in February 2004, joining Tesla's board of directors as its chairman as well as in operational roles, but Eberhard remained as CEO. Musk was the controlling investor in Tesla from the first financing round, funding the large majority of the Series A capital investment round of US$7.5 million with personal funds. Tesla's early primary goal was to commercialize electric vehicles, starting with a premium sports car aimed at early adopters and then moving as rapidly as possible into more mainstream vehicles, including sedans and affordable compacts for the mass market.
    </p>
</body>
</html>
